<h1>Контакты компании</h1>
<ul>
  {{#each contacts}}
    <li>
      <a href="/contacts/{{this.id}}"></a> - {{this.address}}, {{this.phone}}, {{this.email}}, {{this.mapsLink}}
      <a href="/contacts/{{this.id}}/edit">✏️</a>
      <form action="/contacts/{{this.id}}" method="POST" style="display:inline;">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">🗑️</button>
      </form>
    </li>
  {{/each}}
</ul>
<a href="/contacts/add">Добавить контакт</a>
