<h1>Запросы клиентов</h1>
<ul>
  {{#each requests}}
    <li>
      <a href="/requests/{{this.id}}"></a> - {{this.clientName}}, {{this.contactInfo}}, {{this.serviceRequested}}, {{this.requestDate}}, {{this.status}}
      <a href="/requests/{{this.id}}/edit">✏️</a>
      <form action="/requests/{{this.id}}" method="POST" style="display:inline;">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">🗑️</button>
      </form>
    </li>
  {{/each}}
</ul>
<a href="/requests/add">Создать новый запрос</a>
