<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Авсюкевич Анастасия">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content={{keywordsContent}}>
  <meta name="description" content={{descriptionContent}}>
  <title>{{titleContent}}</title>
  <link href={{customStyles}} rel="stylesheet" />
  {{> sharedLinks}}
</head>
<body>
<div class="wrapper">
  <script defer src={{customScripts}}></script>
  {{> stickClass}}
  <main>
  </main>
  {{> line}}
  {{> footer}}
</div>
</body>
</html>