<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Авсюкевич Анастасия">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content={{keywordsContent}}>
  <meta name="description" content={{descriptionContent}}>
  <title>{{titleContent}}</title>
  <link href="styles/general.css" rel="stylesheet" />
  <link href={{customStyle}} rel="stylesheet" />
  {{> reuse_blocks/shared_links}}
</head>
<body>
<div class="wrapper">
  <script defer src="src/general.js"></script>

  {{#if customScripts}}
    {{#each customScripts}}
      <script defer src="src/{{this}}.js"></script>
    {{/each}}
  {{/if}}

  {{> reuse_blocks/stick_class}}


  {{> (lookup . 'content')}}
  <!-- content  -->



    {{> reuse_elements/line}}
    {{> structure_blocks/footer}}

</div>
</body>
</html>