<h1>Сервисы, предоставляемые компанией</h1>
<ul>
  {{#each services}}
    <li>
      <a href="/services/{{this.id}}">{{this.name}}</a> - {{this.description}}, {{this.category}}, {{this.price}}
      <a href="/services/{{this.id}}/edit">✏️</a>
      <form action="/services/{{this.id}}" method="POST" style="display:inline;">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">🗑️</button>
      </form>
    </li>
  {{/each}}
</ul>
<a href="/services/add">Добавить сервис</a>
