<main>
  <div class="entities">
      {{#if services.length}}
            <h1>Сервисы, предоставляемые компанией</h1>
            <ul>
              {{#each services}}
                <li>
                  <div class="entity-content">
                  <a href="/services/{{this.id}}">{{this.name}}</a> - {{this.description}}, {{this.category}}, {{this.price}}
                  <a href="/service-edit/{{this.id}}">✏️</a>
                  <form action="/services/{{this.id}}" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <a href="/service-delete/{{this.id}}">🗑️</a>
                  </form>
                  </div>
                </li>
              {{/each}}
            </ul>
            {{else}}
              <p>Сервисы отсутствуют.</p>
            {{/if}}
    <div class="do-entity-add">
      <a href="/service-add">Добавить сервис</a>
    </div>
  </div>
</main>