<main>
  <div class="entity-info">
    {{#if alertMessage}}
      <script>
        alert("{{alertMessage}}");
      </script>
    {{/if}}
    <p>{{address}}</p>
    <p>{{phone}}</p>
    <p>{{email}}</p>
    <p>{{mapsLink}}</p>
    <p>{{firmName}}</p>
    <a href="/contacts">🔙 Назад к списку контактов</a>
  </div>
</main>

