<main>
  <div class="entities">
      {{#if members.length}}
          <h1>Команда сотрудников компании</h1>
          <ul>
            {{#each members}}
              <li>
                <a href="/members/{{this.id}}">{{this.firstName}} {{this.lastName}}</a> - {{this.position}}
                <a href="/member-edit/{{this.id}}">✏️</a>
                <form action="/members/{{this.id}}" method="POST" style="display:inline;">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit">🗑️</button>
                </form>
              </li>
            {{/each}}
          </ul>
      {{else}}
        <p>Сотрудники отсутствуют.</p>
      {{/if}}
    <a href="/member-add">Добавить сотрудника</a>
  </div>
</main>