<main>
  <div class="entity-info">
    {{#if alertMessage}}
      <script>
        alert("{{alertMessage}}");
      </script>
    {{/if}}
    <p>{{clientName}}</p>
    <p>{{contactInfo}}</p>
    <p>{{serviceRequested}}</p>
    <p>{{requestDate}}</p>
    <p>{{status}}</p>

    <a href="/requests">🔙 Назад к списку заказов</a>

  </div>
  </main>

