<main>
  <div class="entity-info">
    {{#if alertMessage}}
      <script>
        alert("{{alertMessage}}");
      </script>
    {{/if}}
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{category}}</p>
    <p>{{price}}</p>

    <a href="/all-services">🔙 Назад к списку услуг</a>
  </div>
</main>