<main>
  <div class="entities">
        {{#if users.length}}
      <h1>Список пользователей</h1>
      <ul>
        {{#each users}}
          <li>
            <div class="entity-content">
            <a href="/users/{{this.id}}">{{this.username}}</a> - {{this.email}}, {{this.status}}, {{this.role}}
            <a href="/user-edit/{{this.id}}">✏️</a>
            <form action="/users/{{this.id}}" method="POST" style="display:inline;">
              <input type="hidden" name="_method" value="DELETE">
              <a href="/user-delete/{{this.id}}">🗑️</a>
            </form>
            </div>
          </li>
        {{/each}}
      </ul>
        {{else}}
          <p>Пользователи отсутствуют.</p>
        {{/if}}
    <div class="do-entity-add">
      <a href="/user-add">Добавить пользователя</a>
    </div>
  </div>
</main>